@charset "utf-8";
* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

@media all{ 
  * { 
    box-sizing: border-box;
  } 
}     

body { 
    margin:  0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #333; 
    background-color: #fff;
} 

@media all{ 
  body { 
    margin:    0;
    font-family:   "Roboto",sans-serif; 
    font-size:  14px; 
    font-weight:    400; 
    line-height:   1.7; 
    color:  #323c42; 
    text-align:    left; 
    background-color:    #fff;
    padding:   0; 
    -webkit-font-smoothing:  antialiased; 
    -webkit-text-size-adjust:  100%;
    overflow-x: hidden;
  } 
}     

html { 
    font-family:  sans-serif; 
    -ms-text-size-adjust:  100%; 
    -webkit-text-size-adjust:  100%;
    font-size: 10px; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

@media all{ 
  html { 
    font-family:   sans-serif; 
    line-height:   1.15; 
    -webkit-text-size-adjust:   100%; 
    -ms-text-size-adjust:   100%; 
    -ms-overflow-style:   scrollbar; 
    -webkit-tap-highlight-color:   transparent;
    overflow-x:  hidden;
    padding: 0; 
    margin: 0;
  } 
}     

section { 
    display: block;
} 

@media all{ 
  section { 
    display: block;
  } 

  .bread-crumb { 
    padding: 15px 0;
  } 
}     

:after,:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

@media all{ 
  *,:after,:before { 
    box-sizing: border-box;
  } 
}     

.container { 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 768px){ 
  .container { 
    width: 750px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    width: 970px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    width: 1170px;
  } 
}     

@media all{ 
  .container { 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
  } 
}     

@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1140px;
  } 
}     

@media all{ 
  .container { 
    padding-left: 10px; 
    padding-right: 10px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1200px;
  } 
}     

.btn-group-vertical > .btn-group:after ,.btn-group-vertical > .btn-group:before ,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,dd:after ,dd:before ,.form-group:after ,.form-group:before ,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before { 
    display: table; 
    content: " ";
} 

.btn-group-vertical > .btn-group:after ,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,dd:after ,.form-group:after ,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after { 
    clear: both;
} 

.row { 
    margin-right: -15px; 
    margin-left: -15px;
} 

@media all{ 
  .row { 
    display:  flex; 
    display:  -ms-flexbox; 
    display:  -webkit-box; 
    -ms-flex-wrap:  wrap; 
    flex-wrap:  wrap; 
    margin-right:  -10px; 
    margin-left:  -10px;
  } 

  .col-12 { 
    position:   relative; 
    width:   100%; 
    min-height:   1px; 
    padding-right:  10px;
    padding-left:  10px; 
    -webkit-box-flex:  0; 
    -ms-flex:  0 0 100%; 
    flex:  0 0 100%; 
    max-width:  100%;
  } 

  .a-left { 
    text-align: left !important;
  } 
}     

ul { 
    margin-top: 0; 
    margin-bottom: 10px;
} 

@media all{ 
  ul { 
    margin-top:  0; 
    margin-bottom:  1rem;
    list-style: none outside;
  } 
}     

.breadcrumb { 
    padding: 8px 15px; 
    margin-bottom: 20px; 
    list-style: none; 
    background-color: #f5f5f5; 
    border-radius: 4px;
} 

@media all{ 
  .breadcrumb { 
    display:  block; 
    display:  block; 
    display:  block; 
    -ms-flex-wrap:  wrap; 
    flex-wrap:  wrap; 
    padding:  0px; 
    margin-bottom:  1rem; 
    list-style:  none;
    font-family: "Roboto",sans-serif; 
    margin: 0; 
    font-size: 14px; 
    border-radius: 0; 
    font-weight: 400; 
    line-height: 24px; 
    background-color: transparent; 
    width: 100%; 
    text-align: left; 
    height: 25px; 
    overflow: hidden; 
    text-overflow: ellipsis;
  } 
}     

.breadcrumb > li { 
    display: inline-block;
} 

@media all{ 
  .breadcrumb li { 
    display: inline;
  } 

  .page-content-account .d-group  { 
    display: flex; 
    margin-bottom: 40px; 
    border: solid 1px #eb3e32; 
    min-height: 460px;
  } 
}     

.col-lg-10 { 
    position: relative; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 1200px){ 
  .col-lg-10 { 
    float:  left;
    width: 83.33333333%;
  } 
}     

@media all{ 
  .col-lg-10,.col-xl-8 { 
    position: relative; 
    width: 100%; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
  } 
}     

@media (min-width: 992px){ 
  .col-lg-10 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 83.333333%; 
    flex: 0 0 83.333333%; 
    max-width: 83.333333%;
  } 

  .offset-lg-1 { 
    margin-left: 8.333333%;
  } 
}     

@media (min-width: 1200px){ 
  .col-xl-8 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 66.666667%; 
    flex: 0 0 66.666667%; 
    max-width: 66.666667%;
  } 

  .offset-xl-2 { 
    margin-left: 16.666667%;
  } 
}     

@media all{ 
  .col-lg-10 { 
    padding-left: 10px; 
    padding-right: 10px;
  } 

  .page-content-account .right-col  { 
    width: 290px; 
    padding: 30px; 
    background: #eb3e32;
  } 
}     

a { 
    background-color:  transparent;
    color: #337ab7; 
    text-decoration: none;
} 

@media all{ 
  a { 
    color:  #323c42; 
    text-decoration:  none; 
    background-color:   transparent; 
    -webkit-text-decoration-skip:   objects;
    background: transparent;
  } 

  .breadcrumb li > a  { 
    color: #323c42;
  } 
}     

a:active,a:hover { 
    outline: 0;
} 

a:hover { 
    color: #23527c; 
    text-decoration: underline;
} 

@media all{ 
  a:hover { 
    color:  #ffb416; 
    text-decoration:  none; 
    cursor: pointer;
  } 

  a:hover  { 
    color: #ffb416; 
    font-weight: 400; 
    text-decoration: none;
  } 
}     

h4 { 
    font-family:   inherit; 
    font-weight:   500; 
    line-height:   1.1; 
    color:   inherit;
    margin-top:  10px; 
    margin-bottom:  10px;
    font-size: 18px;
} 

@media all{ 
  h4 { 
    margin-top:    0; 
    margin-bottom:    .5rem; 
    font-family:  "Roboto",sans-serif; 
    font-weight:   500; 
    line-height:  1.4;
    color:   inherit;
    font-size:  1.5rem;
  } 

  .page-content-account .right-col h4  { 
    font-size: 18px; 
    margin: 0; 
    padding: 0; 
    font-weight: bold; 
    text-transform: unset; 
    color: #fff;
  } 

  .page-content-account .right-col div  { 
    margin: 40px 0 20px 0;
  } 

  .page-content-account .right-col .btn-register-default  { 
    height: 40px; 
    padding: 0 40px; 
    border: solid 1px #fff; 
    color: #fff; 
    font-weight: bold; 
    font-size: 16px; 
    text-align: center; 
    display: inline-block; 
    line-height: 38px; 
    border-radius: 4px;
  } 

  .page-content-account .right-col .btn-register-default:hover  { 
    background: #ffb416; 
    border-color: #ffb416;
  } 

  span  { 
    display: inline; 
    color: #323c42;
  } 

  .breadcrumb li > a > span  { 
    color: #323c42;
  } 

  a:hover span  { 
    color: #ffb416;
  } 

  .page-content-account .left-col  { 
    background: #fff; 
    width: calc(100% - 290px); 
    -webkit-width: calc(100% - 290px); 
    -moz-width: calc(100% - 290px); 
    -o-width: calc(100% - 290px); 
    -os-width: calc(100% - 290px); 
    padding: 30px;
  } 

  form { 
    margin-bottom: 30px;
  } 

  .page-content-account .left-col form  { 
    margin: 0; 
    padding: 0;
  } 

  .block { 
    display: block !important;
  } 

  .social-login--facebooks { 
    text-align: center !important; 
    margin-top: 20px !important; 
    width: 100% !important; 
    float: left !important;
  } 

  .page-content-account .left-col .social-login--facebooks  { 
    margin-bottom: 20px;
  } 
}     

p { 
    margin: 0 0 10px;
} 

@media all{ 
  p { 
    margin-top:  0; 
    margin-bottom:  1rem;
    margin: 0 0 15px 0;
  } 

  .page-content-account .right-col div p  { 
    display: block; 
    color: #fff;
  } 
}     

input { 
    color:   inherit; 
    font:   inherit; 
    margin:   0;
    line-height:  inherit;
    font-family: inherit; 
    font-size: inherit; 
} 

@media all{ 
  input { 
    display: inline-block; 
    margin:      0; 
    font-family:     "Roboto",sans-serif; 
    font-size:    1em;
    line-height:     1.7; 
    overflow:     visible;
    color:    #323c42; 
    -webkit-font-smoothing:    antialiased; 
    -webkit-text-size-adjust:    100%;
    border-radius:  0; 
    max-width:  100%;
    width: auto;
  } 

  .page-content-account .left-col p  { 
    display: block; 
    text-align: center;
  } 

  .page-content-account .left-col .error  { 
    color: red; 
    text-align: left; 
    margin: 15px 0 10px 0;
  } 
}     

fieldset { 
    border:  0;
    margin:  0; 
    padding:  0; 
    min-width: 0; 
} 

@media all{ 
  fieldset { 
    min-width:   0; 
    padding:  15px;
    margin:   0; 
    border:  1px solid #ebebeb; 
    border-radius:  0; 
    max-width:  100%;
  } 
}     

.form-group { 
    margin-bottom: 15px;
} 

@media all{ 
  .form-group { 
    margin-bottom:  1rem;
    margin: 0; 
    padding: 0 10px 8px; 
    border: 0;
  } 

  .page-content-account .left-col fieldset  { 
    margin: 0; 
    padding: 0;
  } 
}     

button { 
    color:     inherit; 
    font:     inherit; 
    margin:     0;
    overflow:    visible;
    text-transform:   none;
    -webkit-appearance:  button; 
    cursor:  pointer;
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

@media all{ 
  button { 
    border-radius:         0;
    margin:        0; 
    font-family:      "Roboto",sans-serif; 
    font-size:     1em;
    line-height:      1.7; 
    overflow:       visible;
    text-transform:      none;
    color:     #323c42; 
    -webkit-font-smoothing:     antialiased; 
    -webkit-text-size-adjust:     100%;
    -webkit-appearance:   none; 
    -moz-appearance:   none;
    cursor:  pointer;
    height: 45px;
  } 

  [type="submit"],button { 
    -webkit-appearance: button;
  } 

  .page-content-account .left-col .btn-login  { 
    width: 100%; 
    height: 40px; 
    line-height: 40px; 
    background: #eb3e32; 
    color: #fff; 
    text-align: center; 
    padding: 0; 
    border: none; 
    outline: none; 
    text-transform: uppercase; 
    font-weight: bold; 
    border-radius: 4px;
  } 

  .page-content-account .left-col .btn-login:hover  { 
    background: #ffb416;
  } 

  .a-center { 
    text-align: center !important;
  } 

  .page-content-account .left-col .social-login--facebooks p  { 
    position: relative;
  } 

  .page-content-account .left-col .social-login--facebooks p:before  { 
    content: ""; 
    width: 100%; 
    height: 1px; 
    position: absolute; 
    left: 0; 
    top: 12px; 
    z-index: 0; 
    background: #ebebeb;
  } 

  .social-login--facebooks a  { 
    display: inline-block !important; 
    height: 35px !important; 
    margin: 0 auto;
  } 
}     

label { 
    display: inline-block; 
    max-width: 100%; 
    margin-bottom: 5px; 
    font-weight: 700;
} 

@media all{ 
  label { 
    display:  inline-block !important;
    margin-bottom:   .5rem;
    font-weight:  400;
  } 

  .page-content-account .left-col fieldset label  { 
    font-weight: bold;
  } 
}     

.form-control { 
    display: block; 
    width: 100%; 
    height: 34px; 
    padding: 6px 12px; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #555; 
    background-color: #fff; 
    background-image: none; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; 
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; 
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
} 

@media all{ 
  .form-control { 
    display: block; 
    width: 100%; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    color: #495057; 
    background-color: #fff; 
    background-clip: padding-box; 
    border: 1px solid #ced4da; 
    border-radius: .25rem; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 

  .form-control-lg { 
    padding: .5rem 1rem; 
    font-size: 1.25rem; 
    line-height: 1.5; 
    border-radius: .3rem;
  } 

  input[type="text"] { 
    display: block;
    border:  1px solid #ebebeb; 
    color:   #1c1c1c; 
    margin:   0 0 19px; 
    min-height:   40px; 
    padding:  0 110px 0 20px; 
    -webkit-appearance:  none; 
    -moz-appearance:  none;
    width: 100%; 
    max-width: 100%; 
  } 

  .form-group input  { 
    height: 40px;
  } 

  .form-group .form-control  { 
    display: block; 
    width: 100%; 
    min-height: 40px; 
    padding: 10px 15px; 
    font-size: 14px; 
    font-family: "Roboto",sans-serif; 
    line-height: 1.5; 
    color: #323c42; 
    background-color: #fff; 
    background-image: none; 
    margin-bottom: 15px; 
    border: 1px solid #EAEBF3; 
    box-shadow: none; 
    border-radius: 3px;
  } 

  .page-content-account .left-col fieldset input  { 
    height: 40px; 
    line-height: 40px;
  } 

  input[type="email"] { 
    display: block;
    border:  1px solid #ebebeb; 
    color:   #1c1c1c; 
    margin:   0 0 19px; 
    min-height:   40px; 
    padding:  0 110px 0 20px; 
    -webkit-appearance:  none; 
    -moz-appearance:  none;
    width: 100%; 
    max-width: 100%; 
  } 

  input[type="password"] { 
    display: block;
    border:  1px solid #ebebeb; 
    color:   #1c1c1c; 
    margin:   0 0 19px; 
    min-height:   40px; 
    padding:  0 110px 0 20px; 
    -webkit-appearance:  none; 
    -moz-appearance:  none;
    width: 100%; 
    max-width: 100%; 
  } 

  .page-content-account .left-col .social-login--facebooks p span  { 
    position: relative; 
    z-index: 1; 
    background-color: #fff; 
    padding: 0 10px;
  } 
}     

img { 
    border:  0;
    vertical-align: middle;
} 

@media all{ 
  img { 
    vertical-align:  middle; 
    border-style:  none;
    border: 0 none; 
    max-width: 100%; 
    height: auto;
  } 

  .page-content-account .left-col fieldset label span  { 
    color: red;
  } 
}     




