@charset "utf-8";
* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

@media all{ 
  * { 
    box-sizing: border-box;
  } 
}     

body { 
    margin:  0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #333; 
    background-color: #fff;
} 

@media all{ 
  body { 
    margin:    0;
    font-family:   "Roboto",sans-serif; 
    font-size:  14px; 
    font-weight:    400; 
    line-height:   1.7; 
    color:  #323c42; 
    text-align:    left; 
    background-color:    #fff;
    padding:   0; 
    -webkit-font-smoothing:  antialiased; 
    -webkit-text-size-adjust:  100%;
    overflow-x: hidden;
  } 
}     

html { 
    font-family:  sans-serif; 
    -ms-text-size-adjust:  100%; 
    -webkit-text-size-adjust:  100%;
    font-size: 10px; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

@media all{ 
  html { 
    font-family:   sans-serif; 
    line-height:   1.15; 
    -webkit-text-size-adjust:   100%; 
    -ms-text-size-adjust:   100%; 
    -ms-overflow-style:   scrollbar; 
    -webkit-tap-highlight-color:   transparent;
    overflow-x:  hidden;
    padding: 0; 
    margin: 0;
  } 

  .header { 
    padding: 10px 0; 
    background: #fff;
  } 
}     

:after,:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

@media all{ 
  *,:after,:before { 
    box-sizing: border-box;
  } 
}     

.container { 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 768px){ 
  .container { 
    width: 750px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    width: 970px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    width: 1170px;
  } 
}     

@media all{ 
  .container { 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
  } 
}     

@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1140px;
  } 
}     

@media all{ 
  .container { 
    padding-left: 10px; 
    padding-right: 10px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1200px;
  } 
}     

.btn-group-vertical > .btn-group:after ,.btn-group-vertical > .btn-group:before ,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,dd:after ,dd:before ,.form-group:after ,.form-group:before ,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before { 
    display: table; 
    content: " ";
} 

.btn-group-vertical > .btn-group:after ,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,dd:after ,.form-group:after ,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after { 
    clear: both;
} 

.row { 
    margin-right: -15px; 
    margin-left: -15px;
} 

@media all{ 
  .row { 
    display:  flex; 
    display:  -ms-flexbox; 
    display:  -webkit-box; 
    -ms-flex-wrap:  wrap; 
    flex-wrap:  wrap; 
    margin-right:  -10px; 
    margin-left:  -10px;
  } 
}     

.col-lg-2,.col-md-3 { 
    position: relative; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 992px){ 
  .col-md-3 { 
    float:  left;
    width: 25%;
  } 
}     

@media (min-width: 1200px){ 
  .col-lg-2 { 
    float:  left;
    width: 16.66666667%;
  } 
}     

@media all{ 
  .col-6,.col-lg-2,.col-md-3,.col-xl-3 { 
    position: relative; 
    width: 100%; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
  } 

  .col-6 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%;
  } 
}     

@media (min-width: 768px){ 
  .col-md-3 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 25%; 
    flex: 0 0 25%; 
    max-width: 25%;
  } 
}     

@media (min-width: 992px){ 
  .col-lg-2 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 16.666667%; 
    flex: 0 0 16.666667%; 
    max-width: 16.666667%;
  } 
}     

@media (min-width: 1200px){ 
  .col-xl-3 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 25%; 
    flex: 0 0 25%; 
    max-width: 25%;
  } 
}     

@media all{ 
  .col-lg-2,.col-md-3,.col-6 { 
    padding-left: 10px; 
    padding-right: 10px;
  } 

  .col-2 { 
    position:  relative; 
    width:  100%; 
    min-height:  1px; 
    padding-right:  15px; 
    padding-left:  15px;
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 16.666667%; 
    flex: 0 0 16.666667%; 
    max-width: 16.666667%;
  } 

  .order-3 { 
    -webkit-box-ordinal-group: 4; 
    -ms-flex-order: 3; 
    order: 3;
  } 

  .d-block { 
    display: block!important;
  } 
}     

@media (min-width: 992px){ 
  .d-lg-none { 
    display: none!important;
  } 
}     

@media all{ 
  .col-2 { 
    padding-left: 10px; 
    padding-right: 10px;
  } 
}     

.col-lg-8,.col-md-5 { 
    position: relative; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 992px){ 
  .col-md-5 { 
    float:  left;
    width: 41.66666667%;
  } 
}     

@media (min-width: 1200px){ 
  .col-lg-8 { 
    float:  left;
    width: 66.66666667%;
  } 
}     

@media all{ 
  .col-10,.col-lg-8,.col-md-5,.col-xl-7 { 
    position: relative; 
    width: 100%; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
  } 

  .col-10 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 83.333333%; 
    flex: 0 0 83.333333%; 
    max-width: 83.333333%;
  } 
}     

@media (min-width: 768px){ 
  .col-md-5 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 41.666667%; 
    flex: 0 0 41.666667%; 
    max-width: 41.666667%;
  } 

  .order-md-2 { 
    -webkit-box-ordinal-group: 3; 
    -ms-flex-order: 2; 
    order: 2;
  } 
}     

@media (min-width: 992px){ 
  .col-lg-8 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 66.666667%; 
    flex: 0 0 66.666667%; 
    max-width: 66.666667%;
  } 
}     

@media (min-width: 1200px){ 
  .col-xl-7 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 58.333333%; 
    flex: 0 0 58.333333%; 
    max-width: 58.333333%;
  } 
}     

@media all{ 
  .col-lg-8,.col-md-5,.col-10 { 
    padding-left: 10px; 
    padding-right: 10px;
  } 

  .col-6,.col-lg-2,.col-md-3 { 
    position: relative; 
    width: 100%; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
  } 

  .order-2 { 
    -webkit-box-ordinal-group: 3; 
    -ms-flex-order: 2; 
    order: 2;
  } 
}     

@media (min-width: 768px){ 
  .order-md-3 { 
    -webkit-box-ordinal-group: 4; 
    -ms-flex-order: 3; 
    order: 3;
  } 
}     

a { 
    background-color:  transparent;
    color: #337ab7; 
    text-decoration: none;
} 

@media all{ 
  a { 
    color:  #323c42; 
    text-decoration:  none; 
    background-color:   transparent; 
    -webkit-text-decoration-skip:   objects;
    background: transparent;
  } 

  .header .logo  { 
    display: flex; 
    align-items: center; 
    height: 80px; 
    overflow: hidden;
  } 
}     

a:active,a:hover { 
    outline: 0;
} 

a:hover { 
    color: #23527c; 
    text-decoration: underline;
} 

@media all{ 
  a:hover { 
    color:  #ffb416; 
    text-decoration:  none; 
    cursor: pointer;
  } 

  .theme-search-smart { 
    width: 236px; 
    height: 42px; 
    margin-top: 20px; 
    display: inline-block;
  } 

  .header .contact-phone  { 
    display: inline-block; 
    padding-left: 50px; 
    position: relative; 
    top: -5px; 
    background-size: 30px; 
    background-repeat: no-repeat; 
    background-position: 10px 6px; 
    line-height: 20px; 
    margin-left: 10px; 
    background-image: url("https://bizweb.dktcdn.net/100/443/045/themes/844966/assets/call.svg?1686670305050"); 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
  } 

  .contact-phoneabc { 
    display: inline-block; 
    padding-left: 50px; 
    position: relative; 
    top: -5px; 
    background-size: 30px; 
    background-repeat: no-repeat; 
    background-position: 10px 6px; 
    line-height: 20px; 
    background-image: url("https://bizweb.dktcdn.net/100/443/045/themes/844966/assets/placeholder.png?1686670305050"); 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
  } 

  .header .contact-phone.not  { 
    background-image: url("https://bizweb.dktcdn.net/100/443/045/themes/844966/assets/users.svg?1686670305050");
  } 
}     

ul { 
    margin-top: 0; 
    margin-bottom: 10px;
} 

@media all{ 
  ul { 
    margin-top:  0; 
    margin-bottom:  1rem;
    list-style: none outside;
  } 

  .header .group-account  { 
    padding: 0; 
    margin: 0; 
    text-align: right; 
    margin-top: 15px;
  } 
}     

img { 
    border:  0;
    vertical-align: middle;
} 

@media all{ 
  img { 
    vertical-align:  middle; 
    border-style:  none;
    border: 0 none; 
    max-width: 100%; 
    height: auto;
  } 

  .header .logo img  { 
    max-width: 266px; 
    object-fit: scale-down;
  } 
}     

svg:not(:root) { 
    overflow: hidden;
} 

@media all{ 
  svg:not(:root) { 
    overflow: hidden;
  } 

  .header_search { 
    position: relative; 
    display: inline-block; 
    width: 100%; 
    height: 100%; 
    border: solid 1px #eb3e32; 
    border-radius: 5px;
  } 

  .header_search.theme-searchs { 
    position: relative;
  } 
}     

p { 
    margin: 0 0 10px;
} 

@media all{ 
  p { 
    margin-top:  0; 
    margin-bottom:  1rem;
    margin: 0 0 15px 0;
  } 

  .header .contact-phone p  { 
    font-size: 14px; 
    margin-bottom: 0;
  } 

  .header .contact-phone a  { 
    font-size: 18px; 
    color: #eb3e32; 
    font-weight: bold; 
    text-decoration: none;
  } 

  .header .contact-phone a:hover  { 
    opacity: 0.7;
  } 

  .contact-phoneabc p  { 
    font-size: 14px; 
    margin-bottom: 0;
  } 

  .contact-phoneabc a  { 
    font-size: 18px; 
    color: #eb3e32; 
    font-weight: bold; 
    text-decoration: none;
  } 

  .header .contact-phone.not a  { 
    font-size: 14px;
  } 

  .header .contact-phone.not a:hover  { 
    opacity: 0.7;
  } 

  .header .group-account li  { 
    display: inline-block; 
    margin-right: 20px;
  } 

  form { 
    margin-bottom: 30px;
  } 
}     

.input-group { 
    position: relative; 
    display: table; 
    border-collapse: separate;
} 

@media all{ 
  .input-group { 
    display:  table; 
    display:  table; 
    display:  table; 
    position:  relative; 
    -ms-flex-wrap:  wrap; 
    flex-wrap:  wrap; 
    -webkit-box-align:  stretch; 
    -ms-flex-align:  stretch; 
    align-items:  stretch; 
    width:  100%;
    border-collapse: separate;
  } 

  .header_search form  { 
    width: 100%;
  } 

  .header_search.theme-searchs .results-box  { 
    color: #555; 
    position: absolute; 
    top: 41px; 
    left: 0; 
    z-index: 9999; 
    width: 100%; 
    background-color: #fff; 
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33); 
    -moz-box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33); 
    box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
  } 

  .header .group-account li .icon  { 
    position: relative; 
    display: inline-flex; 
    height: 60px; 
    align-items: center; 
    justify-content: center;
  } 

  .top-cart-content { 
    right: 0px; 
    top: 60px; 
    position: absolute; 
    background: #fff; 
    padding: 0; 
    line-height: normal; 
    text-align: left; 
    box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1); 
    -o-box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1); 
    -moz-box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1); 
    -webkit-box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1); 
    z-index: 10000; 
    transition-duration: 0s; 
    transition-delay: .1s; 
    opacity: 0; 
    visibility: hidden;
  } 

  .cart-drop:hover .top-cart-content  { 
    opacity: 1; 
    visibility: visible;
  } 
}     

input { 
    color:   inherit; 
    font:   inherit; 
    margin:   0;
    line-height:  inherit;
    font-family: inherit; 
    font-size: inherit; 
} 

@media all{ 
  input { 
    display: inline-block; 
    margin:      0; 
    font-family:     "Roboto",sans-serif; 
    font-size:    1em;
    line-height:     1.7; 
    overflow:     visible;
    color:    #323c42; 
    -webkit-font-smoothing:    antialiased; 
    -webkit-text-size-adjust:    100%;
    border-radius:  0; 
    max-width:  100%;
    width: auto;
  } 

  .input-group-field { 
    display: table-cell; 
    vertical-align: middle; 
    margin: 0;
  } 

  input[type="text"] { 
    display: block;
    border:  1px solid #ebebeb; 
    color:   #1c1c1c; 
    margin:   0 0 19px; 
    min-height:   40px; 
    padding:  0 110px 0 20px; 
    -webkit-appearance:  none; 
    -moz-appearance:  none;
    width: 100%; 
    max-width: 100%; 
  } 

  .header_search form input  { 
    width: 100%; 
    height: 40px; 
    min-height: 40px; 
    line-height: 40px; 
    background: #fff; 
    outline: none; 
    padding: 0 45px 0 10px; 
    border: none; 
    overflow: hidden; 
    border-radius: 6px !important; 
    font-size: 14px; 
    color: #999ea1;
  } 

  .input-group .input-group-field  { 
    height:  40px;
    width: 100%; 
    margin-bottom: 0;
  } 

  .input-group .input-group-field:first-child  { 
    border-radius: 0;
  } 
}     

.input-group-btn { 
    display:   table-cell;
    width:  1%; 
    white-space:  nowrap;
    vertical-align:  middle;
    position: relative; 
    font-size: 0; 
} 

@media all{ 
  .input-group-btn { 
    display:  table-cell; 
    vertical-align:  middle; 
    margin:  0;
    position: relative; 
    white-space: nowrap; 
    width: 1%; 
    padding: 0;
  } 

  .header_search form .input-group-btn  { 
    position: absolute; 
    white-space: nowrap; 
    width: 40px; 
    height: 36px; 
    line-height: 36px; 
    right: 0; 
    top: 0px; 
    background: transparent; 
    border-radius: 50%; 
    overflow: hidden;
  } 

  .header_search.theme-searchs .results-box .history  { 
    position: relative; 
    z-index: 2; 
    display: flex; 
    flex-flow: column;
  } 

  .CartHeaderContainer { 
    width: 340px; 
    background-color: #fff;
  } 
}     

button { 
    color:     inherit; 
    font:     inherit; 
    margin:     0;
    overflow:    visible;
    text-transform:   none;
    -webkit-appearance:  button; 
    cursor:  pointer;
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

@media all{ 
  button { 
    border-radius:         0;
    margin:        0; 
    font-family:      "Roboto",sans-serif; 
    font-size:     1em;
    line-height:      1.7; 
    overflow:       visible;
    text-transform:      none;
    color:     #323c42; 
    -webkit-font-smoothing:     antialiased; 
    -webkit-text-size-adjust:     100%;
    -webkit-appearance:   none; 
    -moz-appearance:   none;
    cursor:  pointer;
    height: 45px;
  } 
}     

.btn { 
    display: inline-block; 
    margin-bottom: 0; 
    font-weight: 400; 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: middle; 
    -ms-touch-action: manipulation; 
    touch-action: manipulation; 
    cursor: pointer; 
    background-image: none; 
    border: 1px solid transparent; 
    padding: 6px 12px; 
    font-size: 14px; 
    line-height: 1.42857143; 
    border-radius: 4px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

@media all{ 
  [type="submit"],button { 
    -webkit-appearance: button;
  } 

  .btn { 
    display: inline-block; 
    font-weight: 400; 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    border: 1px solid transparent; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: .25rem; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
}     

.input-group-btn > .btn  { 
    position: relative;
} 

@media all{ 
  .input-group .btn  { 
    height: 40px;
  } 

  .header_search form .input-group-btn button  { 
    padding: 0 10px; 
    position: absolute; 
    top: 0px; 
    right: 3px; 
    font-size: 14px; 
    height: 40px; 
    line-height: 40px; 
    color: #333; 
    background-color: transparent; 
    border: none;
  } 
}     

.input-group-btn:last-child > .btn  { 
    border-top-left-radius:  0; 
    border-bottom-left-radius:  0;
    z-index: 2; 
    margin-left: -1px;
} 

@media all{ 
  .btn:not(:disabled):not(.disabled) { 
    cursor: pointer;
  } 

  .input-group .input-group-btn:last-child > .btn  { 
    border-radius: 0;
  } 
}     

.btn:hover { 
    color: #333; 
    text-decoration: none;
} 

@media all{ 
  .btn:hover { 
    text-decoration: none;
  } 
}     

.input-group-btn > .btn:active ,.input-group-btn > .btn:hover  { 
    z-index: 2;
} 

@media all{ 
  .header .group-account li .icon svg  { 
    width: 25px; 
    height: 25px;
  } 

  .header .group-account li .icon span  { 
    position: absolute; 
    display: inline-block; 
    width: 17px; 
    height: 17px; 
    background: #eb3e32; 
    color: #fff; 
    text-align: center; 
    line-height: 17px; 
    border-radius: 17px; 
    top: 13px; 
    font-size: 10px;
  } 

  .CartHeaderContainer .cart--empty-message  { 
    text-align: center;
  } 

  .header_search form .input-group-btn button svg  { 
    width: 23px; 
    height: 30px; 
    margin-top: 4px;
  } 

  .CartHeaderContainer .cart--empty-message svg  { 
    width: 80px; 
    margin: 15px;
  } 
}     


/* These were inline style tags. Uses id+class to override almost everything */
#style-YYOre.style-YYOre {  
   display: none;  
}  

* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

@media all{ 
  * { 
    box-sizing: border-box;
  } 
}     

body { 
    margin:  0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #333; 
    background-color: #fff;
} 

@media all{ 
  body { 
    margin:    0;
    font-family:   "Roboto",sans-serif; 
    font-size:  14px; 
    font-weight:    400; 
    line-height:   1.7; 
    color:  #323c42; 
    text-align:    left; 
    background-color:    #fff;
    padding:   0; 
    -webkit-font-smoothing:  antialiased; 
    -webkit-text-size-adjust:  100%;
    overflow-x: hidden;
  } 
}     

html { 
    font-family:  sans-serif; 
    -ms-text-size-adjust:  100%; 
    -webkit-text-size-adjust:  100%;
    font-size: 10px; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

@media all{ 
  html { 
    font-family:   sans-serif; 
    line-height:   1.15; 
    -webkit-text-size-adjust:   100%; 
    -ms-text-size-adjust:   100%; 
    -ms-overflow-style:   scrollbar; 
    -webkit-tap-highlight-color:   transparent;
    overflow-x:  hidden;
    padding: 0; 
    margin: 0;
  } 
}     

section { 
    display: block;
} 

@media all{ 
  section { 
    display: block;
  } 

  .bread-crumb { 
    padding: 15px 0;
  } 
}     

:after,:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

@media all{ 
  *,:after,:before { 
    box-sizing: border-box;
  } 
}     

.container { 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 768px){ 
  .container { 
    width: 750px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    width: 970px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    width: 1170px;
  } 
}     

@media all{ 
  .container { 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
  } 
}     

@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1140px;
  } 
}     

@media all{ 
  .container { 
    padding-left: 10px; 
    padding-right: 10px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1200px;
  } 
}     

.btn-group-vertical > .btn-group:after ,.btn-group-vertical > .btn-group:before ,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,dd:after ,dd:before ,.form-group:after ,.form-group:before ,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before { 
    display: table; 
    content: " ";
} 

.btn-group-vertical > .btn-group:after ,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,dd:after ,.form-group:after ,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after { 
    clear: both;
} 

.row { 
    margin-right: -15px; 
    margin-left: -15px;
} 

@media all{ 
  .row { 
    display:  flex; 
    display:  -ms-flexbox; 
    display:  -webkit-box; 
    -ms-flex-wrap:  wrap; 
    flex-wrap:  wrap; 
    margin-right:  -10px; 
    margin-left:  -10px;
  } 

  .col-12 { 
    position:   relative; 
    width:   100%; 
    min-height:   1px; 
    padding-right:  10px;
    padding-left:  10px; 
    -webkit-box-flex:  0; 
    -ms-flex:  0 0 100%; 
    flex:  0 0 100%; 
    max-width:  100%;
  } 

  .a-left { 
    text-align: left !important;
  } 
}     

ul { 
    margin-top: 0; 
    margin-bottom: 10px;
} 

@media all{ 
  ul { 
    margin-top:  0; 
    margin-bottom:  1rem;
    list-style: none outside;
  } 
}     

.breadcrumb { 
    padding: 8px 15px; 
    margin-bottom: 20px; 
    list-style: none; 
    background-color: #f5f5f5; 
    border-radius: 4px;
} 

@media all{ 
  .breadcrumb { 
    display:  block; 
    display:  block; 
    display:  block; 
    -ms-flex-wrap:  wrap; 
    flex-wrap:  wrap; 
    padding:  0px; 
    margin-bottom:  1rem; 
    list-style:  none;
    font-family: "Roboto",sans-serif; 
    margin: 0; 
    font-size: 14px; 
    border-radius: 0; 
    font-weight: 400; 
    line-height: 24px; 
    background-color: transparent; 
    width: 100%; 
    text-align: left; 
    height: 25px; 
    overflow: hidden; 
    text-overflow: ellipsis;
  } 
}     

.breadcrumb > li { 
    display: inline-block;
} 

@media all{ 
  .breadcrumb li { 
    display: inline;
  } 

  .page-content-account .d-group  { 
    display: flex; 
    margin-bottom: 40px; 
    border: solid 1px #eb3e32; 
    min-height: 460px;
  } 
}     

.col-lg-10 { 
    position: relative; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 1200px){ 
  .col-lg-10 { 
    float:  left;
    width: 83.33333333%;
  } 
}     

@media all{ 
  .col-lg-10,.col-xl-8 { 
    position: relative; 
    width: 100%; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
  } 
}     

@media (min-width: 992px){ 
  .col-lg-10 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 83.333333%; 
    flex: 0 0 83.333333%; 
    max-width: 83.333333%;
  } 

  .offset-lg-1 { 
    margin-left: 8.333333%;
  } 
}     

@media (min-width: 1200px){ 
  .col-xl-8 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 66.666667%; 
    flex: 0 0 66.666667%; 
    max-width: 66.666667%;
  } 

  .offset-xl-2 { 
    margin-left: 16.666667%;
  } 
}     

@media all{ 
  .col-lg-10 { 
    padding-left: 10px; 
    padding-right: 10px;
  } 

  .page-content-account .right-col  { 
    width: 290px; 
    padding: 30px; 
    background: #eb3e32;
  } 
}     

a { 
    background-color:  transparent;
    color: #337ab7; 
    text-decoration: none;
} 

@media all{ 
  a { 
    color:  #323c42; 
    text-decoration:  none; 
    background-color:   transparent; 
    -webkit-text-decoration-skip:   objects;
    background: transparent;
  } 

  .breadcrumb li > a  { 
    color: #323c42;
  } 
}     

a:active,a:hover { 
    outline: 0;
} 

a:hover { 
    color: #23527c; 
    text-decoration: underline;
} 

@media all{ 
  a:hover { 
    color:  #ffb416; 
    text-decoration:  none; 
    cursor: pointer;
  } 

  a:hover  { 
    color: #ffb416; 
    font-weight: 400; 
    text-decoration: none;
  } 
}     

h4 { 
    font-family:   inherit; 
    font-weight:   500; 
    line-height:   1.1; 
    color:   inherit;
    margin-top:  10px; 
    margin-bottom:  10px;
    font-size: 18px;
} 

@media all{ 
  h4 { 
    margin-top:    0; 
    margin-bottom:    .5rem; 
    font-family:  "Roboto",sans-serif; 
    font-weight:   500; 
    line-height:  1.4;
    color:   inherit;
    font-size:  1.5rem;
  } 

  .page-content-account .right-col h4  { 
    font-size: 18px; 
    margin: 0; 
    padding: 0; 
    font-weight: bold; 
    text-transform: unset; 
    color: #fff;
  } 

  .page-content-account .right-col div  { 
    margin: 40px 0 20px 0;
  } 

  .page-content-account .right-col .btn-register-default  { 
    height: 40px; 
    padding: 0 40px; 
    border: solid 1px #fff; 
    color: #fff; 
    font-weight: bold; 
    font-size: 16px; 
    text-align: center; 
    display: inline-block; 
    line-height: 38px; 
    border-radius: 4px;
  } 

  .page-content-account .right-col .btn-register-default:hover  { 
    background: #ffb416; 
    border-color: #ffb416;
  } 

  span  { 
    display: inline; 
    color: #323c42;
  } 

  .breadcrumb li > a > span  { 
    color: #323c42;
  } 

  a:hover span  { 
    color: #ffb416;
  } 

  .page-content-account .left-col  { 
    background: #fff; 
    width: calc(100% - 290px); 
    -webkit-width: calc(100% - 290px); 
    -moz-width: calc(100% - 290px); 
    -o-width: calc(100% - 290px); 
    -os-width: calc(100% - 290px); 
    padding: 30px;
  } 

  form { 
    margin-bottom: 30px;
  } 

  .page-content-account .left-col form  { 
    margin: 0; 
    padding: 0;
  } 

  .block { 
    display: block !important;
  } 

  .social-login--facebooks { 
    text-align: center !important; 
    margin-top: 20px !important; 
    width: 100% !important; 
    float: left !important;
  } 

  .page-content-account .left-col .social-login--facebooks  { 
    margin-bottom: 20px;
  } 
}     

p { 
    margin: 0 0 10px;
} 

@media all{ 
  p { 
    margin-top:  0; 
    margin-bottom:  1rem;
    margin: 0 0 15px 0;
  } 

  .page-content-account .right-col div p  { 
    display: block; 
    color: #fff;
  } 
}     

input { 
    color:   inherit; 
    font:   inherit; 
    margin:   0;
    line-height:  inherit;
    font-family: inherit; 
    font-size: inherit; 
} 

@media all{ 
  input { 
    display: inline-block; 
    margin:      0; 
    font-family:     "Roboto",sans-serif; 
    font-size:    1em;
    line-height:     1.7; 
    overflow:     visible;
    color:    #323c42; 
    -webkit-font-smoothing:    antialiased; 
    -webkit-text-size-adjust:    100%;
    border-radius:  0; 
    max-width:  100%;
    width: auto;
  } 

  .page-content-account .left-col p  { 
    display: block; 
    text-align: center;
  } 

  .page-content-account .left-col .error  { 
    color: red; 
    text-align: left; 
    margin: 15px 0 10px 0;
  } 
}     

fieldset { 
    border:  0;
    margin:  0; 
    padding:  0; 
    min-width: 0; 
} 

@media all{ 
  fieldset { 
    min-width:   0; 
    padding:  15px;
    margin:   0; 
    border:  1px solid #ebebeb; 
    border-radius:  0; 
    max-width:  100%;
  } 
}     

.form-group { 
    margin-bottom: 15px;
} 

@media all{ 
  .form-group { 
    margin-bottom:  1rem;
    margin: 0; 
    padding: 0 10px 8px; 
    border: 0;
  } 

  .page-content-account .left-col fieldset  { 
    margin: 0; 
    padding: 0;
  } 
}     

button { 
    color:     inherit; 
    font:     inherit; 
    margin:     0;
    overflow:    visible;
    text-transform:   none;
    -webkit-appearance:  button; 
    cursor:  pointer;
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

@media all{ 
  button { 
    border-radius:         0;
    margin:        0; 
    font-family:      "Roboto",sans-serif; 
    font-size:     1em;
    line-height:      1.7; 
    overflow:       visible;
    text-transform:      none;
    color:     #323c42; 
    -webkit-font-smoothing:     antialiased; 
    -webkit-text-size-adjust:     100%;
    -webkit-appearance:   none; 
    -moz-appearance:   none;
    cursor:  pointer;
    height: 45px;
  } 

  [type="submit"],button { 
    -webkit-appearance: button;
  } 

  .page-content-account .left-col .btn-login  { 
    width: 100%; 
    height: 40px; 
    line-height: 40px; 
    background: #eb3e32; 
    color: #fff; 
    text-align: center; 
    padding: 0; 
    border: none; 
    outline: none; 
    text-transform: uppercase; 
    font-weight: bold; 
    border-radius: 4px;
  } 

  .page-content-account .left-col .btn-login:hover  { 
    background: #ffb416;
  } 

  .a-center { 
    text-align: center !important;
  } 

  .page-content-account .left-col .social-login--facebooks p  { 
    position: relative;
  } 

  .page-content-account .left-col .social-login--facebooks p:before  { 
    content: ""; 
    width: 100%; 
    height: 1px; 
    position: absolute; 
    left: 0; 
    top: 12px; 
    z-index: 0; 
    background: #ebebeb;
  } 

  .social-login--facebooks a  { 
    display: inline-block !important; 
    height: 35px !important; 
    margin: 0 auto;
  } 
}     

label { 
    display: inline-block; 
    max-width: 100%; 
    margin-bottom: 5px; 
    font-weight: 700;
} 

@media all{ 
  label { 
    display:  inline-block !important;
    margin-bottom:   .5rem;
    font-weight:  400;
  } 

  .page-content-account .left-col fieldset label  { 
    font-weight: bold;
  } 
}     

.form-control { 
    display: block; 
    width: 100%; 
    height: 34px; 
    padding: 6px 12px; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #555; 
    background-color: #fff; 
    background-image: none; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; 
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; 
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
} 

@media all{ 
  .form-control { 
    display: block; 
    width: 100%; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    color: #495057; 
    background-color: #fff; 
    background-clip: padding-box; 
    border: 1px solid #ced4da; 
    border-radius: .25rem; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 

  .form-control-lg { 
    padding: .5rem 1rem; 
    font-size: 1.25rem; 
    line-height: 1.5; 
    border-radius: .3rem;
  } 

  input[type="text"] { 
    display: block;
    border:  1px solid #ebebeb; 
    color:   #1c1c1c; 
    margin:   0 0 19px; 
    min-height:   40px; 
    padding:  0 110px 0 20px; 
    -webkit-appearance:  none; 
    -moz-appearance:  none;
    width: 100%; 
    max-width: 100%; 
  } 

  .form-group input  { 
    height: 40px;
  } 

  .form-group .form-control  { 
    display: block; 
    width: 100%; 
    min-height: 40px; 
    padding: 10px 15px; 
    font-size: 14px; 
    font-family: "Roboto",sans-serif; 
    line-height: 1.5; 
    color: #323c42; 
    background-color: #fff; 
    background-image: none; 
    margin-bottom: 15px; 
    border: 1px solid #EAEBF3; 
    box-shadow: none; 
    border-radius: 3px;
  } 

  .page-content-account .left-col fieldset input  { 
    height: 40px; 
    line-height: 40px;
  } 

  input[type="email"] { 
    display: block;
    border:  1px solid #ebebeb; 
    color:   #1c1c1c; 
    margin:   0 0 19px; 
    min-height:   40px; 
    padding:  0 110px 0 20px; 
    -webkit-appearance:  none; 
    -moz-appearance:  none;
    width: 100%; 
    max-width: 100%; 
  } 

  input[type="password"] { 
    display: block;
    border:  1px solid #ebebeb; 
    color:   #1c1c1c; 
    margin:   0 0 19px; 
    min-height:   40px; 
    padding:  0 110px 0 20px; 
    -webkit-appearance:  none; 
    -moz-appearance:  none;
    width: 100%; 
    max-width: 100%; 
  } 

  .page-content-account .left-col .social-login--facebooks p span  { 
    position: relative; 
    z-index: 1; 
    background-color: #fff; 
    padding: 0 10px;
  } 
}     

img { 
    border:  0;
    vertical-align: middle;
} 

@media all{ 
  img { 
    vertical-align:  middle; 
    border-style:  none;
    border: 0 none; 
    max-width: 100%; 
    height: auto;
  } 

  .page-content-account .left-col fieldset label span  { 
    color: red;
  } 
}     
* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

@media all{ 
  * { 
    box-sizing: border-box;
  } 
}     

section { 
    display: block;
} 

@media all{ 
  section { 
    display: block;
  } 
}     

body { 
    margin:  0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #333; 
    background-color: #fff;
} 

@media all{ 
  body { 
    margin:    0;
    font-family:   "Roboto",sans-serif; 
    font-size:  14px; 
    font-weight:    400; 
    line-height:   1.7; 
    color:  #323c42; 
    text-align:    left; 
    background-color:    #fff;
    padding:   0; 
    -webkit-font-smoothing:  antialiased; 
    -webkit-text-size-adjust:  100%;
    overflow-x: hidden;
  } 
}     

html { 
    font-family:  sans-serif; 
    -ms-text-size-adjust:  100%; 
    -webkit-text-size-adjust:  100%;
    font-size: 10px; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

@media all{ 
  html { 
    font-family:   sans-serif; 
    line-height:   1.15; 
    -webkit-text-size-adjust:   100%; 
    -ms-text-size-adjust:   100%; 
    -ms-overflow-style:   scrollbar; 
    -webkit-tap-highlight-color:   transparent;
    overflow-x:  hidden;
    padding: 0; 
    margin: 0;
  } 
}     

.container { 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 768px){ 
  .container { 
    width: 750px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    width: 970px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    width: 1170px;
  } 
}     

@media all{ 
  .container { 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
  } 
}     

@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1140px;
  } 
}     

@media all{ 
  .container { 
    padding-left: 10px; 
    padding-right: 10px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1200px;
  } 
}     

@media all{ 
  .cartpcstyle { 
    min-height: 300px;
  } 
}     

:after,:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

@media all{ 
  *,:after,:before { 
    box-sizing: border-box;
  } 
}     

.btn-group-vertical > .btn-group:after ,.btn-group-vertical > .btn-group:before ,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,dd:after ,dd:before ,.form-group:after ,.form-group:before ,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before { 
    display: table; 
    content: " ";
} 

.btn-group-vertical > .btn-group:after ,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,dd:after ,.form-group:after ,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after { 
    clear: both;
} 

@media all{ 
  .d-none { 
    display: none!important;
  } 
}     

@media (min-width: 1200px){ 
  .d-xl-block { 
    display: block!important;
  } 
}     

@media all{ 
  .d-none { 
    display: none;
  } 

  .d-block { 
    display: block!important;
  } 
}     

@media (min-width: 1200px){ 
  .d-xl-none { 
    display: none!important;
  } 
}     

h1 { 
    font-size:  36px;
    margin:    .67em 0;
    font-family:   inherit; 
    font-weight:   500; 
    line-height:   1.1; 
    color:   inherit;
    margin-top:  20px; 
    margin-bottom:  10px;
} 

@media all{ 
  h1 { 
    margin-top:     0; 
    margin-bottom:  20px;
    font-family:   "Roboto",sans-serif; 
    font-weight:    500; 
    line-height:   1.4;
    color:    inherit;
    font-size:  22px; 
  } 

  .title-block-page h1  { 
    font-size: 20px; 
    font-weight: bold; 
    text-transform: uppercase; 
    margin: 0 0 15px; 
    border-bottom: solid 2px #eb3e32; 
    padding-bottom: 20px; 
    line-height: 1.4;
  } 

  form { 
    margin-bottom: 30px;
  } 

  .cart-page .cart-header-info  { 
    display: flex; 
    padding: 7px 0; 
    border: solid 1px #ebebeb; 
    border-bottom: none; 
    font-weight: bold;
  } 

  .cart-page .cart_body  { 
    border: solid 1px #ebebeb;
  } 

  .cart-page .ajaxcart__footer  { 
    margin-top: 20px;
  } 

  .cart-page .cart-header-info div:nth-child(1)  { 
    width: 51%; 
    text-align: left; 
    padding-left: 10px;
  } 

  .cart-page .cart-header-info div:nth-child(2)  { 
    width: 16%; 
    text-align: center;
  } 

  .cart-page .cart-header-info div:nth-child(3)  { 
    width: 16%; 
    text-align: center;
  } 

  .cart-page .cart-header-info div:nth-child(4)  { 
    width: 16%; 
    text-align: center;
  } 

  .cart-page .cart_body .ajaxcart__row  { 
    padding: 10px 0; 
    border-top: solid 1px #ebebeb;
  } 

  .cart-page .cart_body .ajaxcart__row:first-child  { 
    border-top: none;
  } 
}     

.row { 
    margin-right: -15px; 
    margin-left: -15px;
} 

@media all{ 
  .row { 
    display:  flex; 
    display:  -ms-flexbox; 
    display:  -webkit-box; 
    -ms-flex-wrap:  wrap; 
    flex-wrap:  wrap; 
    margin-right:  -10px; 
    margin-left:  -10px;
  } 

  .cart-page .cart_body .ajaxcart__row .cart_product  { 
    width: 100%; 
    height: 120px; 
    display: flex; 
    align-items: center;
  } 
}     

.col-lg-4 { 
    position: relative; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 1200px){ 
  .col-lg-4 { 
    float:  left;
    width: 33.33333333%;
  } 
}     

@media all{ 
  .col-12,.col-lg-4 { 
    position: relative; 
    width: 100%; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
  } 

  .col-12 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%;
  } 
}     

@media (min-width: 768px){ 
  .offset-md-8 { 
    margin-left: 66.666667%;
  } 
}     

@media (min-width: 992px){ 
  .col-lg-4 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 33.333333%; 
    flex: 0 0 33.333333%; 
    max-width: 33.333333%;
  } 

  .offset-lg-8 { 
    margin-left: 66.666667%;
  } 
}     

@media (min-width: 1200px){ 
  .offset-xl-8 { 
    margin-left: 66.666667%;
  } 
}     

@media all{ 
  .col-lg-4,.col-12 { 
    padding-left: 10px; 
    padding-right: 10px;
  } 
}     

a { 
    background-color:  transparent;
    color: #337ab7; 
    text-decoration: none;
} 

@media all{ 
  a { 
    color:  #323c42; 
    text-decoration:  none; 
    background-color:   transparent; 
    -webkit-text-decoration-skip:   objects;
    background: transparent;
  } 

  .cart-page .cart_body .cart_image  { 
    width: 110px; 
    height: 110px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-left: 10px;
  } 
}     

a:active,a:hover { 
    outline: 0;
} 

a:hover { 
    color: #23527c; 
    text-decoration: underline;
} 

@media all{ 
  a:hover { 
    color:  #ffb416; 
    text-decoration:  none; 
    cursor: pointer;
  } 

  .cart-page .cart_body .cart_info  { 
    padding-left: 15px; 
    vertical-align: top; 
    padding-right: 10px; 
    display: flex; 
    width: calc(100% - 110px); 
    -webkit-width: calc(100% - 110px); 
    -moz-width: calc(100% - 110px); 
    -o-width: calc(100% - 110px); 
    -os-width: calc(100% - 110px);
  } 

  .cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt  { 
    display: block; 
    position: relative; 
    padding-top: 20px;
  } 
}     

img { 
    border:  0;
    vertical-align: middle;
} 

@media all{ 
  img { 
    vertical-align:  middle; 
    border-style:  none;
    border: 0 none; 
    max-width: 100%; 
    height: auto;
  } 

  .cart-page .cart_body .cart_image img  { 
    max-width: 100%; 
    max-height: 100%;
  } 

  .cart-page .cart_body .cart_info .cart_name  { 
    width: 50%; 
    margin-bottom: 5px;
  } 

  .cart-page .cart_body .grid  { 
    width: 20%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
  } 

  .cart-page .ajaxcart__footer .cart__subtotal  { 
    font-size: 15px; 
    font-weight: 500; 
    margin-bottom: 12px; 
    display: flex;
  } 
}     

button { 
    color:     inherit; 
    font:     inherit; 
    margin:     0;
    overflow:    visible;
    text-transform:   none;
    -webkit-appearance:  button; 
    cursor:  pointer;
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

@media all{ 
  button { 
    border-radius:        0;
    margin:       0; 
    font-family:     "Roboto",sans-serif; 
    font-size:    1em;
    line-height:     1.7; 
    overflow:      visible;
    text-transform:     none;
    color:    #323c42; 
    -webkit-font-smoothing:    antialiased; 
    -webkit-text-size-adjust:    100%;
    -webkit-appearance:  none; 
    -moz-appearance:  none;
    cursor: pointer;
  } 
}     

.btn { 
    display: inline-block; 
    margin-bottom: 0; 
    font-weight: 400; 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: middle; 
    -ms-touch-action: manipulation; 
    touch-action: manipulation; 
    cursor: pointer; 
    background-image: none; 
    border: 1px solid transparent; 
    padding: 6px 12px; 
    font-size: 14px; 
    line-height: 1.42857143; 
    border-radius: 4px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

.btn-default { 
    color: #333; 
    background-color: #fff; 
    border-color: #ccc;
} 

@media all{ 
  .btn { 
    display: inline-block; 
    font-weight: 400; 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    border: 1px solid transparent; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: .25rem; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 

  button,[type="button"]  { 
    -webkit-appearance: button;
  } 

  .btn:not(:disabled):not(.disabled) { 
    cursor: pointer;
  } 

  .cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt button  { 
    width: 100%; 
    background-color: #eb3e32; 
    color: #fff; 
    text-align: center; 
    line-height: 40px;
  } 
}     

.btn:hover { 
    color: #333; 
    text-decoration: none;
} 

.btn-default:hover { 
    color: #333; 
    background-color: #e6e6e6; 
    border-color: #adadad;
} 

@media all{ 
  .btn:hover { 
    text-decoration: none;
  } 
}     

.btn-default:active:hover { 
    color: #333; 
    background-color: #d4d4d4; 
    border-color: #8c8c8c;
} 

@media all{ 
  .cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt button:hover  { 
    background-color: #ffb416;
  } 
}     

.h4 { 
    font-family:   inherit; 
    font-weight:   500; 
    line-height:   1.1; 
    color:   inherit;
    margin-top:  10px; 
    margin-bottom:  10px;
    font-size: 18px;
} 

@media all{ 
  .h4 { 
    margin-bottom:  .5rem; 
    font-family:  inherit; 
    font-weight:  500; 
    line-height:  1.2; 
    color:  inherit;
    font-size: 1.5rem;
  } 

  .cart-page .cart_body .cart_info .cart_name a  { 
    margin-bottom: 4px; 
    font-size: 13px; 
    font-weight: 500; 
    line-height: 18px; 
    display: block; 
    color: #323c42;
  } 

  .cart-page .cart_body .cart_info .cart_name a:hover  { 
    color: #ffb416;
  } 

  .cart-page .cart_body .cart_info .cart_name .remove-item-cart  { 
    display: block; 
    color: red; 
    font-weight: 300;
  } 
}     

.text-right { 
    text-align: right;
} 

@media all{ 
  .text-right { 
    text-align: right!important;
  } 

  .cart-page .ajaxcart__footer .cart__subtotal .cart__col-6  { 
    width: 50%; 
    float: left;
  } 

  .cart-page .ajaxcart__footer .cart__subtotal .cart__totle  { 
    width: 50%; 
    float: left;
  } 

  .cart-page .cart_body .grid .cart_prices .cart-price  { 
    font-weight: bold; 
    display: block; 
    font-size: 14px; 
    color: #eb3e32;
  } 
}     

.input-group-btn { 
    display:   table-cell;
    width:  1%; 
    white-space:  nowrap;
    vertical-align:  middle;
    position: relative; 
    font-size: 0; 
} 

@media all{ 
  .input-group-btn { 
    display:  table-cell; 
    vertical-align:  middle; 
    margin:  0;
    position: relative; 
    white-space: nowrap; 
    width: 1%; 
    padding: 0;
  } 

  .cart-page .ajaxcart__footer .cart__subtotal .cart__totle .total-price  { 
    color: #eb3e32; 
    font-weight: bold;
  } 

  .cart-page .cart_body .cart_select button  { 
    border-radius: 0; 
    border: 1px solid #e5e5e5; 
    border-color: #e5e5e5; 
    color: #222; 
    line-height: 26px; 
    padding: 0; 
    margin: 0; 
    width: 28px; 
    background-color: #fff; 
    height: 28px; 
    float: left;
  } 
}     

input { 
    color:   inherit; 
    font:   inherit; 
    margin:   0;
    line-height:  inherit;
    font-family: inherit; 
    font-size: inherit; 
} 

@media all{ 
  input { 
    display: inline-block; 
    margin:      0; 
    font-family:     "Roboto",sans-serif; 
    font-size:    1em;
    line-height:     1.7; 
    overflow:     visible;
    color:    #323c42; 
    -webkit-font-smoothing:    antialiased; 
    -webkit-text-size-adjust:    100%;
    border-radius:  0; 
    max-width:  100%;
    width: auto;
  } 

  input[type="text"] { 
    display: block;
    border:  1px solid #ebebeb; 
    color:   #1c1c1c; 
    margin:   0 0 19px; 
    min-height:   40px; 
    padding:  0 110px 0 20px; 
    -webkit-appearance:  none; 
    -moz-appearance:  none;
    width: 100%; 
    max-width: 100%; 
  } 

  .cart-page .cart_body .cart_select input  { 
    display: inline-block; 
    padding: 0; 
    text-align: center; 
    border-radius: 0; 
    width: 35px; 
    min-height: 28px; 
    border: 1px solid #e5e5e5; 
    color: #222; 
    height: 28px; 
    font-size: 14px; 
    margin: 0; 
    float: left; 
    border-left: none; 
    border-right: none;
  } 
}     
* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

@media all{ 
  * { 
    box-sizing: border-box;
  } 
}     

body { 
    margin:  0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #333; 
    background-color: #fff;
} 

@media all{ 
  body { 
    margin:    0;
    font-family:   "Roboto",sans-serif; 
    font-size:  14px; 
    font-weight:    400; 
    line-height:   1.7; 
    color:  #323c42; 
    text-align:    left; 
    background-color:    #fff;
    padding:   0; 
    -webkit-font-smoothing:  antialiased; 
    -webkit-text-size-adjust:  100%;
    overflow-x: hidden;
  } 
}     

html { 
    font-family:  sans-serif; 
    -ms-text-size-adjust:  100%; 
    -webkit-text-size-adjust:  100%;
    font-size: 10px; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

@media all{ 
  html { 
    font-family:   sans-serif; 
    line-height:   1.15; 
    -webkit-text-size-adjust:   100%; 
    -ms-text-size-adjust:   100%; 
    -ms-overflow-style:   scrollbar; 
    -webkit-tap-highlight-color:   transparent;
    overflow-x:  hidden;
    padding: 0; 
    margin: 0;
  } 

  .header { 
    padding: 10px 0; 
    background: #fff;
  } 
}     

:after,:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

@media all{ 
  *,:after,:before { 
    box-sizing: border-box;
  } 
}     

.container { 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 768px){ 
  .container { 
    width: 750px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    width: 970px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    width: 1170px;
  } 
}     

@media all{ 
  .container { 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
  } 
}     

@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1140px;
  } 
}     

@media all{ 
  .container { 
    padding-left: 10px; 
    padding-right: 10px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1200px;
  } 
}     

.btn-group-vertical > .btn-group:after ,.btn-group-vertical > .btn-group:before ,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,dd:after ,dd:before ,.form-group:after ,.form-group:before ,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before { 
    display: table; 
    content: " ";
} 

.btn-group-vertical > .btn-group:after ,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,dd:after ,.form-group:after ,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after { 
    clear: both;
} 

@media all{ 
  .cart--empty-message  { 
    text-align: center;
  } 

  .d-none { 
    display: none!important;
  } 
}     

@media (min-width: 1200px){ 
  .d-xl-block { 
    display: block!important;
  } 
}     

@media all{ 
  .d-none { 
    display: none;
  } 

  .cartpcstyle { 
    min-height: 300px;
  } 
}     

section { 
    display: block;
} 

@media all{ 
  section { 
    display: block;
  } 
}     

p { 
    margin: 0 0 10px;
} 

@media all{ 
  p { 
    margin-top:  0; 
    margin-bottom:  1rem;
    margin: 0 0 15px 0;
  } 
}     

.row { 
    margin-right: -15px; 
    margin-left: -15px;
} 

@media all{ 
  .row { 
    display:  flex; 
    display:  -ms-flexbox; 
    display:  -webkit-box; 
    -ms-flex-wrap:  wrap; 
    flex-wrap:  wrap; 
    margin-right:  -10px; 
    margin-left:  -10px;
  } 
}     

svg:not(:root) { 
    overflow: hidden;
} 

@media all{ 
  svg:not(:root) { 
    overflow: hidden;
  } 

  svg  { 
    width: 80px; 
    margin: 15px;
  } 
}     

.col-lg-2,.col-md-3 { 
    position: relative; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 992px){ 
  .col-md-3 { 
    float:  left;
    width: 25%;
  } 
}     

@media (min-width: 1200px){ 
  .col-lg-2 { 
    float:  left;
    width: 16.66666667%;
  } 
}     

@media all{ 
  .col-6,.col-lg-2,.col-md-3,.col-xl-3 { 
    position: relative; 
    width: 100%; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
  } 

  .col-6 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%;
  } 
}     

@media (min-width: 768px){ 
  .col-md-3 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 25%; 
    flex: 0 0 25%; 
    max-width: 25%;
  } 
}     

@media (min-width: 992px){ 
  .col-lg-2 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 16.666667%; 
    flex: 0 0 16.666667%; 
    max-width: 16.666667%;
  } 
}     

@media (min-width: 1200px){ 
  .col-xl-3 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 25%; 
    flex: 0 0 25%; 
    max-width: 25%;
  } 
}     

@media all{ 
  .col-lg-2,.col-md-3,.col-6 { 
    padding-left: 10px; 
    padding-right: 10px;
  } 
}     


.header_search form .input-group-btn button svg {
  width: 23px;
  height: 30px;
  margin-top: 5px;
  margin: 0px;
}





